language: node_js

node_js:
  - 0.10

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g grunt-cli
  - npm install
  - node_modules/.bin/bower install

script:
 - grunt travis-ci
