<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>angular-shims-placeholder</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
	<style type="text/css">
		/* Demo page styles */
		body { margin: 4em 2em; }
		a,a:visited { color: black; }
		h5 { margin: 1px 0; font-weight: normal; color: #333; }
		input, textarea { width: 140px; vertical-align: top; margin: 2px 0px; }
		.container { max-width: 600px; margin: auto; }
		.group { overflow: auto; }
		.group + .group { margin-top: 4px; }
		.example { display: inline-block; padding: 1px; border: solid 1px transparent; }
		.ng-dirty { background-color: lightcyan; }
		.ng-invalid { border-color: red; }
		input:invalid { box-shadow: none; } /* suppress Firefox default style */

		/* Recommended placeholder style */
		.empty { color: #a9a9a9; }

		/* Emulate IE `onselectstart=return false` for demo */
		[disabled].empty {
			cursor: default;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide browser placeholders for demo */
		::-webkit-input-placeholder { color: transparent; }
		:-moz-placeholder { /* Firefox 18- */ color: transparent; }
		::-moz-placeholder {  /* Firefox 19+ */ color: transparent; }
		:-ms-input-placeholder {   color: transparent; }
	</style>
</head>
<body ng-app="testApp">
	<div class="container">
	<h1>angular-shims-placeholder</h1>
	<div>Placeholder polyfill for IE8, IE9, and others. Written in AngularJS.</div>
	<p>For this demo, browser placeholders are hidden, and the polyfill is force enabled. Usually, it would only be active in browsers that don't support the placeholder attribute. Visit the <a href="https://github.com/jrief/angular-shims-placeholder">repo</a> for more information.</p>
	<a href="https://github.com/jrief/angular-shims-placeholder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
	<div id="group-separate" class="group has-placeholder has-model separate-models">
		<h5>Separate models</h5>
		<input type="text" placeholder="text" ng-model="test.empty1">
		<input type="password" placeholder="password" ng-model="test.empty2">
		<input type="email" placeholder="email" ng-model="test.empty3">
		<textarea rows="1" placeholder="textarea" ng-model="test.empty4"></textarea>
	</div>
	<div id="group-shared" class="group has-placeholder has-model shared-model">
		<h5>Shared model</h5>
		<input type="text" placeholder="text" ng-model="test.linked" ng-trim="false">
		<input type="password" placeholder="password" ng-model="test.linked" ng-trim="false">
		<input type="email" placeholder="email" ng-model="test.linked" ng-trim="false">
		<textarea rows="1" placeholder="textarea" ng-model="test.linked" ng-trim="false"></textarea>
	</div>
	<div id="group-nomodel" class="group has-placeholder no-model">
		<h5>No model</h5>
		<input type="text" placeholder="text">
		<input type="password" placeholder="password">
		<input type="email" placeholder="email">
		<textarea rows="1" placeholder="textarea"></textarea>
	</div>
	<div id="group-separate-prefilled" class="group has-placeholder has-model separate-models pre-filled">
		<h5>Pre-filled by model</h5>
		<input type="text" placeholder="text" ng-model="test.text">
		<input type="password" placeholder="password" ng-model="test.password">
		<button ng-click="test.text = (test.password = 'filler')">fill</button>
		<button ng-click="test.text = (test.password = '')">clear</button>
	</div>
	<div id="group-nomodel-prefilled" class="group has-placeholder no-model pre-filled">
		<h5>No model, pre-filled by value</h5>
		<input type="text" placeholder="text" value="Hello, Betty">
		<input type="password" placeholder="password" value="secret2">
		<button onclick="fillElements('#group-nomodel-prefilled input', 'filler')">fill</button>
		<button onclick="fillElements('#group-nomodel-prefilled input', '')">clear</button>
	</div>

	<p><h5>
		Key:
		<span class="example empty">empty</span>
		<span class="example ng-dirty">ng-dirty</span>
		<span class="example ng-invalid">ng-invalid</span>
	</h5></p>

	<br>

	<div id="group-separate-ref" class="group no-placeholder has-model separate-models">
		<h5>Separate models, no placeholder (for reference)</h5>
		<input type="text" ng-model="test.empty11">
		<input type="password" ng-model="test.empty12">
		<input type="email" ng-model="test.empty13">
		<textarea rows="1" ng-model="test.empty14"></textarea>
	</div>
	<div id="group-shared-ref" class="group no-placeholder has-model shared-model">
		<h5>Shared model, no placeholder (for reference)</h5>
		<input type="text" ng-model="test.linked2" ng-trim="false">
		<input type="password" ng-model="test.linked2" ng-trim="false">
		<input type="email" ng-model="test.linked2" ng-trim="false">
		<textarea rows="1" ng-model="test.linked2" ng-trim="false"></textarea>
	</div>

	<br>

	<div id="group-ngdisabled" class="group has-placeholder has-model separate-models has-ngdisabled">
		<h5>ngDisabled</h5>
		<input type="text" placeholder="text" ng-model="test.disabled_empty1" ng-disabled="test.disabled_emptys">
		<input type="password" placeholder="password" ng-model="test.disabled_empty2" ng-disabled="test.disabled_emptys">
		<input type="email" placeholder="email" ng-model="test.disabled_empty3" ng-disabled="test.disabled_emptys">
		<textarea rows="1" placeholder="textarea" ng-model="test.disabled_empty4" ng-disabled="test.disabled_emptys"></textarea>
	</div>
	<div id="group-disabled-attribute" class="group has-placeholder no-model has-disabled">
		<h5>Disabled attribute</h5>
		<input type="text" placeholder="text" disabled="disabled">
		<input type="password" placeholder="password" disabled="disabled">
		<input type="email" placeholder="email" disabled="disabled">
		<textarea rows="1" placeholder="textarea" disabled="disabled"></textarea>
	</div>
	<div id="group-ngdisabled-prefilled" class="group has-placeholder pre-filled has-model separate-models has-ngdisabled">
		<h5>Pre-filled by model with ngDisabled </h5>
		<input type="text" placeholder="text" ng-model="test.disabled_text" ng-disabled="test.disabled_prefilleds">
		<input type="password" placeholder="password" ng-model="test.disabled_password" ng-disabled="test.disabled_prefilleds">
		<button ng-click="test.disabled_text = (test.disabled_password = 'filler')">fill</button>
		<button ng-click="test.disabled_text = (test.disabled_password = '')">clear</button>
		<button ng-click="test.disabled_prefilleds = false">enable</button>
		<button ng-click="test.disabled_prefilleds = true">disable</button>
	</div>
	<div id="group-disabled-attribute-prefilled" class="group has-placeholder pre-filled no-model has-disabled">
		<h5>No model, pre-filled by value with disabled attribute</h5>
		<input type="text" placeholder="text" disabled="disabled" id="dp1" value="Hello, Des'ree">
		<input type="password" placeholder="password" disabled="disabled" id="dp2" value="secret4">
		<button onclick="fillElements('#dp1,#dp2', 'filler')">fill</button>
		<button onclick="fillElements('#dp1,#dp2', '')">clear</button>
		<button onclick="disableElements('#dp1,#dp2', false)">enable</button>
		<button onclick="disableElements('#dp1,#dp2', true)">disable</button>
	</div>

	</div><!-- /.container -->

	<!-- Load angular.js from CDN if local copy is missing. http://stackoverflow.com/a/5531821/490592 -->
	<script src="bower_components/angular/angular.js"></script>
	<script>if (!window.angular && console) { console.log('Local angular.js unavailable. Will attempt to load from CDN.'); }</script>
	<script>window.angular || document.write('<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js">\x3C/script>');</script>

	<script src="lib/angular-placeholder.js"></script>
	<script>
		angular.module(['testApp'], ['ng.shims.placeholder'])
		.run(function($rootScope, placeholderSniffer){
			$rootScope.test = {
				text: 'Hello, Ang',
				password: 'secret1',
				disabled_text: 'Hello, Carl',
				disabled_password: 'secret3',
				disabled_emptys: true,
				disabled_prefilleds: true
			};

			// Force enable polyfill in all browsers for demo
			placeholderSniffer.hasPlaceholder = function () { return false; };
		});

		function fillElements (selector, str) {
			var elements = document.querySelectorAll(selector);
			for (var i = 0; i < elements.length; i++) {
				angular.element(elements[i])
					.val(str)
					.triggerHandler('change');
			}
		}

		function disableElements (selector, bool) {
			var elements = document.querySelectorAll(selector);
			for (var i = 0; i < elements.length; i++) {
				angular.element(elements[i])
					.prop('disabled', bool)
					.triggerHandler('change');
			}
		}
	</script>
</body>
</html>